<div class="page-title blog-featured-title featured-title no-overflow">

    <div class="page-title-bg fill">
        <div class="title-overlay fill" style="background-color: rgba(0,0,0,.5)"></div>
    </div>

    <div class="page-title-inner container  flex-row  dark is-large" style="min-height: 300px">
        <div class="flex-col flex-center text-center">
            <h1 class="entry-category text-warning wave ">
                <a href="TinTuc.html" rel="category tag wave">
                    THÁI Y
                    VIỆN
                </a>
            </h1>
            <h1 class="entry-title text-warning wave " style="justify-content: center;align-items: center;">
                HÀNH
                TRÌNH
                LAN TỎA TINH HOA Y HỌC CỔ TRUYỀN
            </h1>


        </div>
    </div>
</div>