<footer id="footer" class="footer-wrapper">

    <section class="section sec-he-thong" id="section_1994101382">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>



        


        <style>
            #section_1994101382 {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        </style>
    </section>

    <section class="section sec-footer dark" id="section_1596577442">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>



        



        <style>
            #section_1596577442 {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        </style>
    </section>

    <section class="section sec-bottom-footer" id="section_1476575044">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>



        <div class="section-content relative">


            <div class="row" id="row-203889142">


                <div id="col-468445271" class="col medium-10 small-12 large-10">
                    <div class="col-inner">



                        <div id="text-3825821873" class="text">


                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 cot1">
                                <span style="color: #EDE7D3;">
                                    <strong>
                                        ©Bản quyền thuộc về Thái Y Viện.
                                        Nghiêm cấm
                                        sao chép dưới mọi hình thức!
                                    </strong>
                                </span>
                            </div>

                            <style>
                                #text-3825821873 {
                                    line-height: 1.6;
                                }
                            </style>
                        </div>


                    </div>

                    <style>
                        #col-468445271 > .col-inner {
                            padding: 0 0px 0px 0px;
                            margin: 21px 0px -19px 0px;
                        }
                    </style>
                </div>



                <div id="col-2095098808" class="col medium-2 small-12 large-2">
                    <div class="col-inner">



                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_452524939">
                            <a class="" href="#">
                                <div class="img-inner dark">
                                    <img width="600" height="227" src="http://thaiyvien.log.vn"
                                         class="attachment-large size-large" alt="Thông tin tuyển dụng"
                                         loading="lazy" />
                                </div>
                            </a>
                            <style>
                                #image_452524939 {
                                    width: 93%;
                                }
                            </style>
                        </div>



                    </div>

                    <style>
                        #col-2095098808 > .col-inner {
                            margin: 0px 0px -25px 0px;
                        }
                    </style>
                </div>



            </div>

            <div id="panel-1550233770" class="panel bottom-button-mobile-wrapper show-for-small">
                <div class="panel-inner">




                    <div id="panel-1259907877" class="panel bottom-button-mobile show-for-small">
                        <div class="panel-inner">



                            <div id="stack-2411889154"
                                 class="stack stack-row justify-start items-stretch sm:justify-between sm:items-end">



                                <a class="plain" href="https://www.facebook.com/share/p/19qBz2Pdvh/">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128" src="~/FE/assets/img/facebook.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/facebook.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Facebook</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="#">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2022/04/youtube-round-icon-png-128.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2022/04/youtube-round-icon-png-128.png 128w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2022/04/youtube-round-icon-png-128-100x100.png 100w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Youtube</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="tel:0968 824 386">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 60px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="~/FE/assets/img/phone-icon-yellow.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/phone-icon-yellow.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Gọi điện</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="/dat-lich-truc-tuyen">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="~/FE/assets/img/booking-reservation-icon-label-text-logo-symbol-transparent-png-1469870.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/booking-reservation-icon-label-text-logo-symbol-transparent-png-1469870.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Đặt lịch</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="https://zalo.me/0968 824 386">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="~/FE/assets/img/zalo-icon.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/zalo-icon.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Zalo</h5>

                                        </div>
                                    </div>
                                </a>



                                <style>
                                    #stack-2411889154 > * {
                                        --stack-gap: 0rem;
                                    }
                                </style>
                            </div>


                        </div>

                        <style>
                            #panel-1259907877 > .panel-inner {
                                padding: 0px 10px 0px 10px;
                            }
                        </style>
                    </div>




                </div>
            </div>



        </div>


        <style>
            #section_1476575044 {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        </style>
    </section>

    <div class="absolute-footer dark medium-text-center small-text-center">
        <div class="container clearfix">


            <div class="footer-primary pull-left">
                <div class="copyright-footer">


                    <!--Start of Tawk.to Script-->
                    <script type="text/javascript">
                        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
                        (function () {
                            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                            s1.async = true;
                            s1.src = 'https://embed.tawk.to/5f4e1f1ff0e7167d000c7a64/1f181lgev';
                            s1.charset = 'UTF-8';
                            s1.setAttribute('crossorigin', '*');
                            s0.parentNode.insertBefore(s1, s0);
                        })();
                    </script>
                    <!--End of Tawk.to Script-->

                </div>
            </div>
        </div>
    </div>

    <a href="#top"
       class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle"
       id="top-link" aria-label="Go to top"><i class="icon-angle-up"></i></a>

</footer>