<footer id="footer" class="footer-wrapper">

    <section class="section sec-he-thong" id="section_1994101382">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>



        <div class="section-content relative">


            <div id="gap-366526823" class="gap-element clearfix" style="display:block; height:auto;">

                <style>
                    #gap-366526823 {
                        padding-top: 30px;
                    }
                </style>
            </div>


            <div class="text-center">
                <div class="is-divider divider clearfix"
                     style="max-width:180px;background-color:rgb(163, 43, 43);">
                </div>
            </div>



        </div>


        <style>
            #section_1994101382 {
                padding-top: 0px;
                padding-bottom: 0px;
            }
        </style>
    </section>

    <section class="section sec-footer dark" id="section_1596577442">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>



        <div class="section-content relative">


            <div class="row row-full-width" id="row-1510781617">


                <div id="col-1699669169" class="col small-12 large-12">
                    <div class="col-inner">



                        <div class="is-divider divider clearfix"
                             style="max-width:100%;background-color:rgb(163, 43, 43);"></div>


                    </div>
                </div>



            </div>
            <div class="row row-small" id="row-1527510362">


                <div id="col-474670970" class="col medium-12 small-12 large-3">
                    <div class="col-inner text-center">



                        <div class="ux-logo has-hover align-middle ux_logo inline-block"
                             style="max-width: 100%!important; width: 242.95641931684px!important">
                            <a class="ux-logo-link block image-glow" title="" href="http://thaiyvien.log.vn"
                               style="padding: 15px;">
                                <img src="~/FE/assets/img/changelogo-removebg-preview.png"
                                     title="" alt="" class="ux-logo-image block" style="height:200px;" />
                            </a>
                        </div>


                    </div>
                </div>



                <div id="col-339654416" class="col medium-4 small-12 large-3">
                    <div class="col-inner">



                        <div id="text-1217967395" class="text heading-title-font">


                            <h2><strong><span style="font-size: 20px;">VỀ CHÚNG TÔI</span></strong></h2>
                        </div>

                        <div class="ux-menu stack stack-col justify-start footer-menu">


                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="#">
                                    <span class="ux-menu-link__text">
                                        Giới thiệu
                                    </span>
                                </a>
                            </div>


                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="#">
                                    <span class="ux-menu-link__text">
                                        Dịch vụ
                                    </span>
                                </a>
                            </div>


                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="#">
                                    <span class="ux-menu-link__text">
                                        Học viện đào tạo
                                    </span>
                                </a>
                            </div>


                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="#">
                                    <span class="ux-menu-link__text">
                                        Hợp tác
                                    </span>
                                </a>
                            </div>


                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="#">
                                    <span class="ux-menu-link__text">
                                        Tuyển dụng
                                    </span>
                                </a>
                            </div>



                        </div>


                    </div>
                </div>



                <div id="col-259231068" class="col medium-4 small-12 large-3">
                    <div class="col-inner">



                        <div id="text-2824705723" class="text heading-title-font">


                            <h2>
                                <strong><span style="font-size: 20px;">HỖ TRỢ &amp; CHÍNH SÁCH</span></strong>
                            </h2>
                        </div>

                        <div class="ux-menu stack stack-col justify-start footer-menu">


                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="#">
                                    <span class="ux-menu-link__text">
                                        Chính sách hỗ trợ
                                    </span>
                                </a>
                            </div>


                            <div class="ux-menu-link flex menu-item">
                                <a class="ux-menu-link__link flex" href="Lienhe.html">
                                    <span class="ux-menu-link__text">
                                        Liên hệ
                                    </span>
                                </a>
                            </div>



                        </div>


                    </div>
                </div>



                <div id="col-1169409220" class="col medium-4 small-12 large-3">
                    <div class="col-inner">





                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3834.2596765901517!2d108.17039660889543!3d16.052009039838087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x314219114e1ff46d%3A0x9085bdcc75c0c12!2zMTgyIEzDqiBUaOG6oWNoLCBIb8OgIEFuLCBD4bqpbSBM4buHLCDEkMOgIE7hurVuZyA1NTAwMDAsIFZp4buHdCBOYW0!5e0!3m2!1svi!2sus!4v1739427296746!5m2!1svi!2sus"
                                width="600" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>

                    </div>
                </div>



            </div>
            <div class="row" id="row-1583109457">


                <div id="col-1966127736" class="col small-12 large-12">
                    <div class="col-inner text-center">




                        <div id="panel-743715239" class="panel">
                            <div class="panel-inner text-center">



                                <div class="social-icons follow-icons full-width text-center"
                                     style="font-size:116%">
                                    <a href="https://www.facebook.com/tapdoanytenhatlieuyvien/" target="_blank"
                                       data-label="Facebook"
                                       class="icon primary button circle facebook tooltip"
                                       title="Follow on Facebook" aria-label="Follow on Facebook"
                                       rel="noopener nofollow"><i class="icon-facebook"></i></a><a href="mailto:nhatlieuyvienyte@gmail.com" data-label="E-mail"
                                                                                                   target="_blank" class="icon primary button circle email tooltip"
                                                                                                   title="Send us an email" aria-label="Send us an email"
                                                                                                   rel="nofollow noopener"><i class="icon-envelop"></i></a><a href="tel:0968 824 386" data-label="Phone" target="_blank"
                                                                                                                                                              class="icon primary button circle phone tooltip" title="Call us"
                                                                                                                                                              aria-label="Call us" rel="nofollow noopener">
                                        <i class="icon-phone"></i>
                                    </a><a href="https://www.youtube.com/channel/UCxjywOyGLs_Piu8mHb4AsDg"
                                           data-label="YouTube" target="_blank"
                                           class="icon primary button circle youtube tooltip"
                                           title="Follow on YouTube" aria-label="Follow on YouTube"
                                           rel="noopener nofollow"><i class="icon-youtube"></i></a>
                                </div>


                            </div>
                        </div>



                    </div>

                    <style>
                        #col-1966127736 > .col-inner {
                            margin: 0px 0px -24px 0px;
                        }
                    </style>
                </div>



            </div>
            <div class="row" id="row-2106364480">


                <div id="col-893599957" class="col small-12 large-12">
                    <div class="col-inner">



                        <div id="text-3896786485" class="text">


                            <h1 class="no-margin" style="text-align: center;">
                                <strong>
                                    THÁI Y VIỆN<Nav>
                                    </Nav>
                                </strong>
                            </h1>
                            <p style="text-align: center;">Trụ sở chính:182. Lê Thạch. Liên Chiểu. Đà Nẵng</p>

                            <style>
                                #text-3896786485 {
                                    color: rgb(153, 32, 34);
                                }

                                    #text-3896786485 > * {
                                        color: rgb(153, 32, 34);
                                    }
                            </style>
                        </div>


                    </div>
                </div>



                <div id="col-826829472" class="col small-12 large-12">
                    <div class="col-inner text-right">



                        <div id="stack-3771739098"
                             class="stack footer-contact-stack stack-row justify-center items-stretch sm:stack-col sm:items-center md:stack-col md:items-center">



                            <div id="dealer-info-554191457" class="dealer-info dealer-facebook contact-item">
                                <a class="dealer-info-link" href="tel:0968 824 386">
                                    <span>Hotline:</span>
                                    0905.985.168
                                </a>
                                <style>
                                    #dealer-info-554191457 {
                                        color: rgb(153, 32, 34);
                                    }

                                        #dealer-info-554191457 > * {
                                            color: rgb(153, 32, 34);
                                        }
                                </style>
                            </div>




                            <div id="dealer-info-1358507033" class="dealer-info dealer-website contact-item">
                                <a class="dealer-info-link"
                                   href="http://thaiyvien.log.vn/">
                                    <span>Website:</span>
                                    http://thaiyvien.log.vn/
                                </a>
                                <style>
                                    #dealer-info-1358507033 {
                                        color: rgb(153, 32, 34);
                                    }

                                        #dealer-info-1358507033 > * {
                                            color: rgb(153, 32, 34);
                                        }
                                </style>
                            </div>




                            <div id="dealer-info-977711610" class="dealer-info dealer-email contact-item">
                                <a class="dealer-info-link"
                                   href="mailto:nhatlieuyvienyte@gmail.com">
                                    <span>Email:</span>
                                    thaiyvien@log.vn
                                </a>
                                <style>
                                    #dealer-info-977711610 {
                                        color: rgb(153, 32, 34);
                                    }

                                        #dealer-info-977711610 > * {
                                            color: rgb(153, 32, 34);
                                        }
                                </style>
                            </div>






                        </div>


                    </div>
                </div>



            </div>

        </div>


        <style>
            #section_1596577442 {
                padding-top: 30px;
                padding-bottom: 30px;
            }
        </style>
    </section>

    <section class="section sec-bottom-footer" id="section_1476575044">
        <div class="bg section-bg fill bg-fill  bg-loaded">
        </div>



        <div class="section-content relative">


            <div class="row" id="row-203889142">


                <div id="col-468445271" class="col medium-10 small-12 large-10">
                    <div class="col-inner">



                        <div id="text-3825821873" class="text">


                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 cot1">
                                <span style="color: #EDE7D3;">
                                    <strong>
                                        ©Bản quyền thuộc về Thái Y Viện.
                                        Nghiêm cấm
                                        sao chép dưới mọi hình thức!
                                    </strong>
                                </span>
                            </div>

                            <style>
                                #text-3825821873 {
                                    line-height: 1.6;
                                }
                            </style>
                        </div>


                    </div>

                    <style>
                        #col-468445271 > .col-inner {
                            padding: 0 0px 0px 0px;
                            margin: 21px 0px -19px 0px;
                        }
                    </style>
                </div>



                <div id="col-2095098808" class="col medium-2 small-12 large-2">
                    <div class="col-inner">



                        <div class="img has-hover x md-x lg-x y md-y lg-y" id="image_452524939">
                            <a class="" href="#">
                                <div class="img-inner dark">
                                    <img width="600" height="227" src="http://thaiyvien.log.vn"
                                         class="attachment-large size-large" alt="Thông tin tuyển dụng"
                                         loading="lazy" />
                                </div>
                            </a>
                            <style>
                                #image_452524939 {
                                    width: 93%;
                                }
                            </style>
                        </div>



                    </div>

                    <style>
                        #col-2095098808 > .col-inner {
                            margin: 0px 0px -25px 0px;
                        }
                    </style>
                </div>



            </div>

            <div id="panel-1550233770" class="panel bottom-button-mobile-wrapper show-for-small">
                <div class="panel-inner">




                    <div id="panel-1259907877" class="panel bottom-button-mobile show-for-small">
                        <div class="panel-inner">



                            <div id="stack-2411889154"
                                 class="stack stack-row justify-start items-stretch sm:justify-between sm:items-end">



                                <a class="plain" href="https://www.facebook.com/share/p/19qBz2Pdvh/">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128" src="~/FE/assets/img/facebook.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/facebook.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Facebook</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="#">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2022/04/youtube-round-icon-png-128.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2022/04/youtube-round-icon-png-128.png 128w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2022/04/youtube-round-icon-png-128-100x100.png 100w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Youtube</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="tel:0968 824 386">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 60px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="~/FE/assets/img/phone-icon-yellow.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/phone-icon-yellow.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Gọi điện</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="/dat-lich-truc-tuyen">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="~/FE/assets/img/booking-reservation-icon-label-text-logo-symbol-transparent-png-1469870.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/booking-reservation-icon-label-text-logo-symbol-transparent-png-1469870.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Đặt lịch</h5>

                                        </div>
                                    </div>
                                </a>


                                <a class="plain" href="https://zalo.me/0968 824 386">
                                    <div class="icon-box featured-box icon-box-center text-center">
                                        <div class="icon-box-img" style="width: 50px">
                                            <div class="icon">
                                                <div class="icon-inner">
                                                    <img width="128" height="128"
                                                         src="~/FE/assets/img/zalo-icon.png"
                                                         class="attachment-medium size-medium" alt=""
                                                         loading="lazy"
                                                         srcset="~/FE/assets/img/zalo-icon.png 128w"
                                                         sizes="(max-width: 128px) 100vw, 128px" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="icon-box-text last-reset">
                                            <h5 class="uppercase">Zalo</h5>

                                        </div>
                                    </div>
                                </a>



                                <style>
                                    #stack-2411889154 > * {
                                        --stack-gap: 0rem;
                                    }
                                </style>
                            </div>


                        </div>

                        <style>
                            #panel-1259907877 > .panel-inner {
                                padding: 0px 10px 0px 10px;
                            }
                        </style>
                    </div>




                </div>
            </div>



        </div>


        <style>
            #section_1476575044 {
                padding-top: 5px;
                padding-bottom: 5px;
            }
        </style>
    </section>

    <div class="absolute-footer dark medium-text-center small-text-center">
        <div class="container clearfix">


            <div class="footer-primary pull-left">
                <div class="copyright-footer">


                    <!--Start of Tawk.to Script-->
                    <script type="text/javascript">
                        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
                        (function () {
                            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                            s1.async = true;
                            s1.src = 'https://embed.tawk.to/5f4e1f1ff0e7167d000c7a64/1f181lgev';
                            s1.charset = 'UTF-8';
                            s1.setAttribute('crossorigin', '*');
                            s0.parentNode.insertBefore(s1, s0);
                        })();
                    </script>
                    <!--End of Tawk.to Script-->

                </div>
            </div>
        </div>
    </div>

    <a href="#top"
       class="back-to-top button icon invert plain fixed bottom z-1 is-outline hide-for-medium circle"
       id="top-link" aria-label="Go to top"><i class="icon-angle-up"></i></a>

</footer>