<!DOCTYPE html>
<html lang="vi" class="loading-site no-js">

<head>
    <meta charset="UTF-8" />
    <link rel="profile" href="http://gmpg.org/xfn/11" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel='dns-prefetch' href='http://thaiyvien.log.vn' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>

    <style id="bb_learndash_30_custom_colors">




    </style>

    <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />
    <meta name="viewport" content="width=device-width, initial-scale=1" /><!-- Start of Judge.me Core -->
    <script data-cfasync='false'
            class='jdgm-settings-script'>window.jdgmSettings = { "pagination": 5, "disable_web_reviews": false, "badge_no_review_text": "Không có bài đánh giá nào", "badge_n_reviews_text": "{{ n }} đánh giá", "hide_badge_preview_if_no_reviews": false, "badge_hide_text": true, "enforce_center_preview_badge": false, "widget_title": "Phản hồi từ khách hàng", "widget_open_form_text": "Viết đánh giá", "widget_close_form_text": "Hủy đánh giá", "widget_refresh_page_text": "Làm mới trang", "widget_summary_text": "Dựa trên {{ number_of_reviews }} đánh giá", "widget_no_review_text": "Chưa có đánh giá nào", "widget_name_field_text": "Tên", "widget_verified_name_field_text": "Tên được xác minh (công khai)", "widget_name_placeholder_text": "Nhập tên của bạn (công khai)", "widget_required_field_error_text": "Đây là phần là bắt buộc.", "widget_email_field_text": "E-mail", "widget_verified_email_field_text": "Đã Xác minh Email (riêng tư, không thể chỉnh sửa)", "widget_email_placeholder_text": "Nhập email của bạn (riêng tư)", "widget_email_field_error_text": "Vui lòng nhập địa chỉ email hợp lệ.", "widget_rating_field_text": "Xêp hạng", "widget_review_title_field_text": "Tiêu đề Đánh giá", "widget_review_title_placeholder_text": "Hãy viết tiêu đề của bạn", "widget_review_body_field_text": "Xem trước", "widget_review_body_placeholder_text": "Viết bình luận của bạn ở đây", "widget_pictures_field_text": "Hình ảnh/Video (tùy chọn)", "widget_submit_review_text": "Gửi nhận xét", "widget_submit_verified_review_text": "Gửi Đánh giá đã Xác minh", "widget_submit_success_msg_with_auto_publish": "Cảm ơn bạn! Vui lòng làm mới trang trong giây lát để xem đánh giá của bạn. Bạn có thể xóa hoặc chỉnh sửa bài đánh giá của mình bằng cách đăng nhập vào \u003ca href='https://judge.me/login' target='_blank' rel='nofollow noopener'\u003eJudge.me\u003c/a\u003e", "widget_submit_success_msg_no_auto_publish": "Cảm ơn bạn! Bài đánh giá của bạn sẽ được hiển thị ngay khi được sự đồng ý của admin shop. Bạn có thể xóa hoặc chỉnh sửa bài đánh giá của mình bằng cách đăng nhập vào \u003ca href='https://judge.me/login' target='_blank' rel='nofollow noopener'\u003eJudge.me\u003c/a\u003e", "widget_show_default_reviews_out_of_total_text": "Hiển thị đánh giá {{ n_review_shown }} trong số {{ n_reviews }} bài đánh giá.", "widget_show_all_link_text": "Hiển thị tất cả", "widget_show_less_link_text": "Hiện ít hơn", "widget_author_said_text": "{{ reviewer_name }} cho biết:", "widget_days_text": "{{ n }} ngày trước", "widget_weeks_text": "{{ n }} tuần/tuần trước", "widget_months_text": "{{ n }} tháng/tháng trước", "widget_years_text": "{{ n }} năm/năm trước", "widget_yesterday_text": "Hôm qua", "widget_today_text": "Hôm nay", "widget_replied_text": "\u003e\u003e {{ shop_name }} đã trả lời:", "widget_read_more_text": "Đọc thêm", "widget_rating_filter_see_all_text": "Xem tất cả đánh giá", "widget_sorting_most_recent_text": "Gần đây nhất", "widget_sorting_highest_rating_text": "Đánh giá cao nhất", "widget_sorting_lowest_rating_text": "Đánh giá thấp nhất", "widget_sorting_with_pictures_text": "Chỉ có ảnh", "widget_sorting_most_helpful_text": "Hữu ích nhất", "widget_open_question_form_text": "Đặt một câu hỏi", "widget_reviews_subtab_text": "Đánh giá", "widget_questions_subtab_text": "Câu hỏi", "widget_question_label_text": "Câu hỏi", "widget_answer_label_text": "Câu trả lời", "widget_question_placeholder_text": "Viết câu hỏi của bạn ở đây", "widget_submit_question_text": "Gửi câu hỏi", "widget_question_submit_success_text": "Cảm ơn câu hỏi của bạn! Chúng tôi sẽ thông báo cho bạn và câu hỏi của bạn sẽ được hiển thị sau khi được trả lời.", "verified_badge_text": "Xác minh", "verified_badge_placement": "left-of-reviewer-name", "widget_hide_border": false, "widget_social_share": false, "widget_thumb": false, "widget_review_location_show": false, "widget_location_format": "country_iso_code", "all_reviews_include_out_of_store_products": true, "all_reviews_out_of_store_text": "(đã hết hàng)", "all_reviews_product_name_prefix_text": "về", "enable_review_pictures": true, "enable_question_anwser": false, "widget_product_reviews_subtab_text": "Đánh giá sản phẩm", "widget_shop_reviews_subtab_text": "Đánh giá cửa hàng", "widget_sorting_pictures_first_text": "Hình ảnh đầu tiên", "floating_tab_button_name": "★ Đánh giá trên Judge.me", "floating_tab_title": "Hãy để khách hàng nói thay chúng tôi", "all_reviews_text_badge_text": "Chúng tôi được đánh giá {{ shop.metafields.judgeme.all_reviews_rating | round: 1 }}/5 từ {{ shop.metafields.judgeme.all_reviews_count }} ý kiến của khách hàng.", "featured_carousel_title": "Hãy để khách hàng nói thay chúng tôi", "featured_carousel_count_text": "từ {{ n }} bài đánh giá", "picture_reminder_submit_button": "Tải ảnh lên", "widget_sorting_videos_first_text": "Video đầu tiên", "widget_review_pending_text": "Đang chờ xử lý", "preview_badge_no_question_text": "Chưa có câu hỏi", "preview_badge_n_question_text": "{{ number_of_questions }} câu hỏi", "widget_search_bar_placeholder": "Tìm kiếm đánh giá", "widget_sorting_verified_only_text": "Chỉ xác minh", "all_reviews_page_load_more_text": "Xem thêm bài đánh giá", "widget_public_name_text": "hiển thị công khai như", "widget_reviewer_anonymous": "Ẩn danh", "medals_widget_title": "Huy chương của Judge.me", "widget_invalid_yt_video_url_error_text": "Không phải là URL video YouTube", "platform": "woocommerce", "branding_url": "https://judge.me/reviews", "branding_text": "Hỗ trợ bởi Judge.me", "locale": "vi", "reply_name": "Lifecore", "footer": true, "autopublish": true, "review_dates": true, "enable_custom_form": false };</script>

    <!-- End of Judge.me Core -->
    <!-- This site is optimized with the Yoast SEO Premium plugin v18.3 (Yoast SEO v18.5.1) - https://yoast.com/wordpress/plugins/seo/ -->
    <title>Thái Y viện - Hành Trình &quot; Lan tỏa Tinh hoa Y học Cổ Truyền&quot;</title>
    <meta name="description" content="Ngày 3/1/2025  THÁI Y VIỆN  HÀNH TRÌNH LAN TỎA Y HỌC CỔ TRUYỀN" />
    <link rel="canonical" href="http:thaiyvien.log.vn" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content=" Thái  Y Viện : Hành Trình Lan Tỏa Y Học Cổ Truyền" />
    <meta property="og:description"
          content="Ngày 3/1/2025  THÁI Y VIỆN tổ chức sự kiện &quot;94 Years - Tự hào vươn xa khắp gia đình &quot; đã diễn ra thành công tốt đẹp." />
    <meta property="og:url" content="http:thaiyvien.log.vn" />
    <meta property="og:site_name" content="Thái Y Viện " />
    <meta property="article:published_time" content="2025-02-05T09:38:04+00:00" />
    <meta property="article:modified_time" content="2025-02-05T04:25:53+00:00" />
    <meta property="og:image" content="" />
    <meta property="og:image:width" content="2560" />
    <meta property="og:image:height" content="1707" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:label1" content="Được viết bởi" />
    <meta name="twitter:data1" content="quantri" />
    <meta name="twitter:label2" content="Ước tính thời gian đọc" />
    <meta name="twitter:data2" content="10 phút" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <partial name="_CSSPARTIAL" />

    <style type="text/css">
        /** Mega Menu CSS: fs **/
    </style>
</head>

<body style="background-color:#fff"
      class="post-template-default single single-post postid-8204 single-format-standard theme-flatsome woocommerce-no-js mega-menu-primary mega-menu-max-mega-menu-1 buddyboss-theme bb-custom-typo lightbox nav-dropdown-has-arrow nav-dropdown-has-shadow nav-dropdown-has-border learndash-theme">

    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M5BW3K86" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0"
         height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-dark-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0.49803921568627" />
                    <feFuncG type="table" tableValues="0 0.49803921568627" />
                    <feFuncB type="table" tableValues="0 0.49803921568627" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-grayscale">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-red">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 1" />
                    <feFuncG type="table" tableValues="0 0.27843137254902" />
                    <feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-midnight">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0 0" />
                    <feFuncG type="table" tableValues="0 0.64705882352941" />
                    <feFuncB type="table" tableValues="0 1" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-magenta-yellow">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.78039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.94901960784314" />
                    <feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-purple-green">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" />
                    <feFuncG type="table" tableValues="0 1" />
                    <feFuncB type="table" tableValues="0.44705882352941 0.4" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none"
         style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;">
        <defs>
            <filter id="wp-duotone-blue-orange">
                <feColorMatrix color-interpolation-filters="sRGB" type="matrix"
                               values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " />
                <feComponentTransfer color-interpolation-filters="sRGB">
                    <feFuncR type="table" tableValues="0.098039215686275 1" />
                    <feFuncG type="table" tableValues="0 0.66274509803922" />
                    <feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" />
                    <feFuncA type="table" tableValues="1 1" />
                </feComponentTransfer>
                <feComposite in2="SourceGraphic" operator="in" />
            </filter>
        </defs>
    </svg>
    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>
    <partial name="_Notification" />

    <div id="wrapper">










        @await Html.PartialAsync("_HeaderPartial")


        @RenderBody()


        @await Html.PartialAsync("_FooterPartial")

    </div>

    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">


        <div class="sidebar-menu no-scrollbar ">


            <ul class="nav nav-sidebar nav-vertical nav-uppercase" data-tab="1">
                <li class="header-search-form search-form html relative has-icon">
                    <div class="header-search-form-wrapper">
                        <div class="searchform-wrapper ux-search-box relative form-flat is-normal">
                            <form role="search" method="get" class="searchform" action="#/">
                                <div class="flex-row relative">
                                    <div class="flex-col flex-grow">
                                        <label class="screen-reader-text" for="woocommerce-product-search-field-1">
                                            Tìm
                                            kiếm:
                                        </label>
                                        <input type="search" id="woocommerce-product-search-field-1"
                                               class="search-field mb-0" placeholder="Tìm kiếm | Nhập từ khóa" value=""
                                               name="s" />
                                        <input type="hidden" name="post_type" value="product" />
                                    </div>
                                    <div class="flex-col">
                                        <button type="submit" value="Tìm kiếm"
                                                class="ux-search-submit submit-button secondary button  icon mb-0"
                                                aria-label="Submit">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="live-search-results text-left z-top"></div>
                            </form>
                        </div>
                    </div>
                </li>
                <li id="menu-item-931" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-931">
                    <a asp-action="Index" asp-controller="Home">GIỚI THIỆU</a>
                </li>
                <li id="menu-item-957"
                    class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-has-children menu-item-957">
                    <a asp-action="Index" asp-controller="Product">SẢN PHẨM</a>
                    <ul class="sub-menu nav-sidebar-ul children">
                        <li id="menu-item-958"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-958">
                            <a asp-action="Index" asp-controller="Product">
                                Thực
                                Phẩm Nâng Cao Sức Khỏe
                            </a>
                        </li>
                        <li id="menu-item-959"
                            class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-959">
                            <a asp-action="Index" asp-controller="Product">
                                Bộ
                                Các Dòng Rượu Hoàng Cung
                            </a>
                        </li>

                    </ul>
                </li>


                <li id="menu-item-919"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-919">
                    <a asp-action="Index" asp-controller="Service">DỊCH VỤ</a>
                    <ul class="sub-menu nav-sidebar-ul children">
                        <li id="menu-item-949"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-949">
                            <a asp-action="Index" asp-controller="Service">Trị liệu cơ bản</a>
                        </li>
                        <li id="menu-item-948"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-948">
                            <a asp-action="Index" asp-controller="Service">Trị liệu nâng cao</a>
                        </li>
                        <li id="menu-item-947"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-947">
                            <a asp-action="Index" asp-controller="Service">Trị liệu chuyên sâu</a>
                        </li>
                    </ul>
                </li>
                <li id="menu-item-942"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-has-children menu-item-942">
                    <a asp-action="Index" asp-controller="Partnership">HỢP TÁC</a>
                    <ul class="sub-menu nav-sidebar-ul children">
                        <li id="menu-item-945"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-945">
                            <a asp-action="Index" asp-controller="Partnership">
                                Các Hình Thức Đăng Ký Khóa
                                Học.
                            </a>
                        </li>

                    </ul>
                </li>
                <li id="menu-item-942"
                    class="menu-item menu-item-type-taxonomy menu-item-object-category current-post-ancestor current-menu-parent current-post-parent menu-item-has-children menu-item-942">
                    <a asp-action="Index" asp-controller="Train">ĐÀO TẠO</a>
                    <ul class="sub-menu nav-sidebar-ul children">

                        <li id="menu-item-1360"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1360">
                            <a asp-action="Index" asp-controller="Train">
                                Giới Thiệu Chương Trình Đào
                                Tạo
                            </a>
                        </li>
                        <li id="menu-item-943"
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-943">
                            <a asp-action="Index" asp-controller="Train">
                                Phương Pháp Đào Tạo
                                Hiện Tại
                            </a>
                        </li>
                        <li id="menu-item-1096"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1096">
                            <a asp-action="Index" asp-controller="Train">Lợi ích Khi Tham Gia Đào Tạo</a>
                        </li>
                    </ul>
                </li>
                <li class="account-item has-icon menu-item">
                    <a asp-action="Index" asp-controller="Contact" class="nav-top-link nav-top-not-logged-in">
                        <span class="header-account-title">
                            Liên hệ
                        </span>
                    </a>

                </li>

                @if (User.Identity?.IsAuthenticated ?? false)
                {
                    <li class="account-item has-icon dropdown">
                        <div class="header-button">
                            <a href="#" class="nav-top-link icon primary  dropdown-toggle no-arrow">
                                <h2>@User.Identity.Name</h2>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" asp-action="Index" asp-controller="Account">Thông tin cá nhân</a></li>
                                <li><a class="dropdown-item" asp-action="HistoryAppointment" asp-controller="Appointment">Lịch sử trị liệu</a></li>
                                <li><a class="dropdown-item" asp-action="ChangePassword" asp-controller="Account">Đổi mật khẩu</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item text-danger" asp-action="Logout" asp-controller="Account">Đăng xuất</a></li>
                            </ul>
                        </div>
                    </li>
                }
                else
                {
                    <li class="account-item has-icon menu-item">
                        <a asp-action="Login" asp-controller="Account" class="nav-top-link nav-top-not-logged-in">
                            <span class="header-account-title">
                                Đăng nhập
                            </span>
                        </a>

                    </li>
                }

                <li class="html custom html_topbar_right">
                    <div id="panel-74667167" class="panel">
                        <div class="panel-inner">



                            <a class="plain" href="tel:0968 824 386">
                                <div class="icon-box featured-box contact-icon contact-phone icon-box-left text-left">
                                    <div class="icon-box-img" style="width: 32px">
                                        <div class="icon">
                                            <div class="icon-inner">
                                                <img width="32" height="32"
                                                     src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2022/03/icon_phone_white_32.png"
                                                     class="attachment-medium size-medium" alt="" loading="lazy" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="icon-box-text last-reset">
                                        <h5 class="uppercase">Hotline</h5>
                                        <h6>0905.985.168</h6>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>

                </li>
                <li class="html custom html_top_right_text">
                    <div id="panel-1693083468" class="panel">
                        <div class="panel-inner">


                            <a href="#" class="button primary is-outline btn-bao-gia" style="border-radius:10px;">
                                <span>Báo giá<br />dịch vụ</span>
                            </a>

                        </div>
                    </div>

                </li>
            </ul>


        </div>


    </div>

    <div id="um_upload_single" style="display:none"></div>

    <div id="um_view_photo" style="display:none">

        <a href="javascript:void(0);" data-action="um_remove_modal" class="um-modal-close"
           aria-label="Close view photo modal">
            <i class="um-faicon-times"></i>
        </a>

        <div class="um-modal-body photo">
            <div class="um-modal-photo"></div>
        </div>

    </div>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/63b38a9dc2f1ac1e202b55cc/1glqlatsc';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    



    </main>


    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring facebook">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="https://www.facebook.com/thaiyvienvietnam/">
                    <i class="icon-facebook"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring youtube1">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="#">
                    <i class="icon-youtube"></i>
                </a>
            </div>
        </div>

    </div>

    <div class="hotline-phone-ring-wrap">
        <div class="hotline-phone-ring mail">
            <div class="hotline-phone-ring-circle"></div>
            <div class="hotline-phone-ring-circle-fill"></div>
            <div class="hotline-phone-ring-img-circle">
                <a href="#">
                    <i class="icon-envelop"></i>
                </a>
            </div>
        </div>

    </div>




    <script type="text/javascript">
        (function () {
            var c = document.body.className;
            c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
            document.body.className = c;
        })();
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="notyf.min.js"></script>

    <link rel='stylesheet' id='Booknetic-font-css'
          href='//fonts.googleapis.com/css?family=Poppins%3A200%2C200i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C600%2C600i%2C700&#038;display=swap&#038;ver=5.9.10'
          type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-booknetic-css'
          href='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/booknetic/app/Frontend/assets/css/bootstrap-booknetic.css?v=2.3.267be7191bf6ce&#038;ver=5.9.10'
          type='text/css' media='all' />
    <link rel='stylesheet' id='booknetic-css'
          href='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/booknetic/app/Frontend/assets/css/booknetic.css?v=2.3.267be7191bf73b&#038;ver=5.9.10'
          type='text/css' media='all' />
    <link rel='stylesheet' id='select2-bootstrap-css'
          href='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/booknetic/app/Backend/Base/assets/css/select2-bootstrap.css?v=2.3.267be7191bf82f&#038;ver=5.9.10'
          type='text/css' media='all' />
    <link rel='stylesheet' id='booknetic.datapicker-css'
          href='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/booknetic/app/Frontend/assets/css/datepicker.min.css?v=2.3.267be7191bf894&#038;ver=5.9.10'
          type='text/css' media='all' />
    <link rel='stylesheet' id='intlTelInput-css'
          href='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/booknetic/app/Frontend/assets/css/intlTelInput.min.css?v=2.3.267be7191bf905&#038;ver=5.9.10'
          type='text/css' media='all' />
    <link rel='stylesheet' id='booknetic-theme-css'
          href='//nhatlieuyvien.vn/wp-content/uploads/booknetic/appearance/theme_5.css?ver=5.9.10' type='text/css'
          media='all' />




    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=6.3.1'
            id='woocommerce-js'></script>
    <script type='text/javascript' id='wc-cart-fragments-js-extra'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_4f3926a8264a693f1ae848c182c7d8cd", "fragment_name": "wc_fragments_4f3926a8264a693f1ae848c182c7d8cd", "request_timeout": "5000" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js?ver=6.3.1'
            id='wc-cart-fragments-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js?ver=1.4.1-wc.6.3.1'
            id='jquery-cookie-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-search.js?ver=3.18.1'
            id='flatsome-live-search-js'></script>
    <script type='text/javascript' id='learndash-front-js-extra'>
        /* <![CDATA[ */
        var ldVars = { "postID": "639", "videoReqMsg": "B\u1ea1n ph\u1ea3i xem video tr\u01b0\u1edbc khi truy c\u1eadp v\u00e0o n\u1ed9i dung n\u00e0y", "ajaxurl": "https:\/\/nhatlieuyvien.vn\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='//nhatlieuyvien.vn/wp-content/plugins/sfwd-lms/themes/ld30/assets/js/learndash.js?ver=4.3.0.2'
            id='learndash-front-js'></script>
    <script type='text/javascript' src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/hoverIntent.min.js?ver=1.10.2'
            id='hoverIntent-js'></script>
    <script type='text/javascript' id='flatsome-js-js-extra'>
        /* <![CDATA[ */
        var flatsomeVars = { "theme": { "version": "3.18.1" }, "ajaxurl": "https:\/\/nhatlieuyvien.vn\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "stickyHeaderHeight": "0", "scrollPaddingTop": "0", "assets_url": "https:\/\/nhatlieuyvien.vn\/wp-content\/themes\/flatsome\/assets\/", "lightbox": { "close_markup": "<button title=\"%title%\" type=\"button\" class=\"mfp-close\"><svg xmlns=\"http:\/\/www.w3.org\/2000\/svg\" width=\"28\" height=\"28\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"currentColor\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"feather feather-x\"><line x1=\"18\" y1=\"6\" x2=\"6\" y2=\"18\"><\/line><line x1=\"6\" y1=\"6\" x2=\"18\" y2=\"18\"><\/line><\/svg><\/button>", "close_btn_inside": false }, "user": { "can_edit_pages": false }, "i18n": { "mainMenu": "Main Menu", "toggleButton": "Toggle" }, "options": { "cookie_notice_version": "1", "swatches_layout": false, "swatches_disable_deselect": false, "swatches_box_select_event": false, "swatches_box_behavior_selected": false, "swatches_box_update_urls": "1", "swatches_box_reset": false, "swatches_box_reset_limited": false, "swatches_box_reset_extent": false, "swatches_box_reset_time": 300, "search_result_latency": "0" }, "is_mini_cart_reveal": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/themes/flatsome/assets/js/flatsome.js?ver=039f9485eef603e7c53a'
            id='flatsome-js-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/themes/flatsome/assets/js/woocommerce.js?ver=c9fe40206165dd93147b'
            id='flatsome-theme-woocommerce-js-js'></script>
    <script type='text/javascript' src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/underscore.min.js?ver=1.13.1'
            id='underscore-js'></script>
    <script type='text/javascript' id='wp-util-js-extra'>
        /* <![CDATA[ */
        var _wpUtilSettings = { "ajax": { "url": "\/wp-admin\/admin-ajax.php" } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/wp-util.min.js?ver=5.9.10'
            id='wp-util-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-crop.min.js?ver=2.7.0'
            id='um_crop-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-modal.min.js?ver=2.7.0'
            id='um_modal-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-jquery-form.min.js?ver=2.7.0'
            id='um_jquery_form-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-fileupload.js?ver=2.7.0'
            id='um_fileupload-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/pickadate/picker.js?ver=2.7.0'
            id='um_datetime-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/pickadate/picker.date.js?ver=2.7.0'
            id='um_datetime_date-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/pickadate/picker.time.js?ver=2.7.0'
            id='um_datetime_time-js'></script>
    <script type='text/javascript' src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/imagesloaded.min.js?ver=4.1.4'
            id='imagesloaded-js'></script>
    <script type='text/javascript' src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/masonry.min.js?ver=4.2.2'
            id='masonry-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b'
            id='jquery-masonry-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/simplebar.min.js?ver=2.7.0'
            id='um_scrollbar-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-functions.min.js?ver=2.7.0'
            id='um_functions-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-responsive.min.js?ver=2.7.0'
            id='um_responsive-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/dist/vendor/regenerator-runtime.min.js?ver=0.13.9'
            id='regenerator-runtime-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/dist/vendor/wp-polyfill.min.js?ver=3.15.0'
            id='wp-polyfill-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/dist/hooks.min.js?ver=1e58c8c5a32b2e97491080c5b10dc71c'
            id='wp-hooks-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-conditional.min.js?ver=2.7.0'
            id='um_conditional-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/libs/select2/select2.full.min.js?ver=4.0.13'
            id='um_select2_locale-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/libs/tipsy/tipsy.min.js?ver=1.0.0a'
            id='um_tipsy-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-includes/js/dist/i18n.min.js?ver=30fcecb428a0e8383d3776bcdd3a7834'
            id='wp-i18n-js'></script>
    <script type='text/javascript' id='wp-i18n-js-after'>
        wp.i18n.setLocaleData({ 'text direction\u0004ltr': ['ltr'] });
    </script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/libs/raty/um-raty.min.js?ver=2.6.0'
            id='um_raty-js'></script>
    <script type='text/javascript' id='um_scripts-js-extra'>
        /* <![CDATA[ */
        var um_scripts = { "max_upload_size": "67108864", "nonce": "ca504f053d" };
        /* ]]> */
    </script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-scripts.min.js?ver=2.7.0'
            id='um_scripts-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-profile.min.js?ver=2.7.0'
            id='um_profile-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/ultimate-member/assets/js/um-account.min.js?ver=2.7.0'
            id='um_account-js'></script>
    <script type='text/javascript' id='megamenu-js-extra'>
        /* <![CDATA[ */
        var megamenu = { "timeout": "300", "interval": "100" };
        /* ]]> */
    </script>
   
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/megamenu/js/maxmegamenu.js?ver=2.9.5'
            id='megamenu-js'></script>
    <script type='text/javascript'
            src='https://nhatlieuyvien.b-cdn.net/wp-content/plugins/megamenu-pro/assets/public.js?ver=2.2.3'
            id='megamenu-pro-js'
    
    ></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    @await Component.InvokeAsync("Notyf")


    @await RenderSectionAsync("Scripts", required: false)
  

</body>

</html>