﻿



@model LocationModel
@{
    ViewData["title"] = "Cập nhật vị trí";
}
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 col-12 mx-auto">
            <form asp-action="Edit" asp-controller="Location" method="post" enctype="multipart/form-data">
                <div class="card mt-5">
                    <div class="card-header mt-2">
                        <h3>Trung tâm trị liệu</h3>
                    </div>
                    <div class="card-body">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group mt-2">
                            <label class="form-label">Tên Trung tâm</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Địa chỉ</label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger" />
                        </div>
                      





                        <div class="form-group mt-2">
                            <label asp-for="ImageUpload" class="form-label">Hình ảnh</label>
                            <input asp-for="ImageUpload" type="file" class="form-control" />
                            <span asp-validation-for="ImageUpload" class="text-danger"></span>
                            <img id="imgpreview" class="pt-2" />
                            <img src="~/image/location/@Model.ImageUrl" style="height:50px;" />
                        </div>
                    





                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <div class="form-group mt-2">
                                    <button class="btn btn-primary">Xác nhận</button>

                                </div>


                            </div>
                            <div class="col">
                                <div class="form-group mt-2 text-end">
                                    <a asp-action="Index" asp-controller="Location`" class="btn btn-primary"><i class="fa-solid fa-arrow-left"></i>Danh sách trị liệu</a>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>

</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(".typing-price").on("keyup", function () {
            var currency_input = parseFloat($(this).val()) || 0;
            $("#price-convert").html(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(currency_input));
        });
    </script>
    <script>
        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                let reader = new FileReader();

                reader.onload = function (e) {
                    $("img#imgpreview").attr("src", e.target.result).width(200).height(200);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
}