@model IEnumerable<ServiceModel>


<main id="main" class="">


    <div id="content" role="main" class="content-area ">


        <!-- <p><img class="alignnone wp-image-6644 size-full" src="/assets/img/Banner1.png" alt="" width="2000"
                height="734" srcset="/assets/img/Banner1.png 2000w, /assets/img/Banner1.png 600w"
                sizes="(max-width: 2000px) 100vw, 2000px"></p> -->
        <div class="mt-3">
            <h1 style="text-align: center;">
                <span style="color: #800000;">
                    <strong class="mt-3">
                        HỆ THỐNG LIỆU
                        TRÌNH&nbsp;
                    </strong>
                </span>
            </h1>
            <div id="gap-1869721069" class="gap-element clearfix" style="display:block; height:auto;">

                <style>
                    #gap-1869721069 {
                        padding-top: 50px;
                    }
                </style>
            </div>

            <p style="text-align: justify;"></p>
            <div class="row" id="row-1178404134">
                <p style="text-align: justify;">
                </p>
                @if (Model == null || !Model.Any())
                {
                    <p class="text-center text-danger" style="font-size: 18px; font-weight: bold;">Không có từ khóa yêu cầu</p>
                }
                else
                {
                    @foreach (var item in Model)
                    {
                        <div id="col-1542936681" class="col medium-4 small-12 large-4">
                            <div class="col-inner">
                                <h4 style="text-align: center;">
                                    @((item.Title.Length > 20) ? item.Title.Substring(0, 30) + "..." : item.Title)
                                </h4>
                                <div class="box has-hover   has-hover box-text-bottom">
                                    <div class="box-image mt-3">
                                        <a asp-action="Detail" asp-controller="Service" asp-route-Id="@item.ID">
                                            <div class="image-zoom">
                                                <img style="height:301px;" src="~/image/service/@item.ImageUrl"
                                                     class="attachment- size- rounded-circle" alt="" loading="lazy"
                                                     srcset="~/image/service/@item.ImageUrl 501w"
                                                     sizes="(max-width: 501px) 100vw, 501px">
                                            </div>
                                        </a>
                                    </div>

                                    <div class="box-text text-left">
                                        <div class="box-text-inner">
                                            <p class="text-dark" style="font-size:20px;">
                                                @((item.Description.Length > 40) ? item.Description.Substring(0, 40) + "..." : item.Description)
                                                <a asp-action="Detail" asp-controller="Service" asp-route-Id="@item.ID">Xem thêm</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }











            </div>
        </div>
        @*  <div class="row" id="row-659985947">
        <h1 style="text-align: center;">
        <span style="color: #800000;"><strong>HỖ TRỢ CHĂM SÓC</strong></span>
        </h1>
        <p style="text-align: justify;">
        </p>
        <div id="col-2107808652" class="col medium-4 small-12 large-4">
        <div class="col-inner">


        <h4 style="text-align: center;"><a href="#">&nbsp;MẤT NGỦ</a></h4>
        <p style="text-align: justify;"> </p>
        <div class="box has-hover   has-hover box-text-bottom">

        <div class="box-image">
        <a href="#">
        <div class="image-zoom">
        <img width="2001" height="2001" src="~/FE/assets/img/matngu.jpg "
        class="attachment- size-  rounded-circle" alt="" loading="lazy"
        srcset="~/FE/assets/img/matngu.jpg 2001w"
        sizes="(max-width: 2001px) 100vw, 2001px">
        </div>
        </a>
        </div>

        <div class="box-text text-left">
        <div class="box-text-inner">

        <p style="text-align: justify;">
        Cách trị liệu phục hồi này giúp tâm trí và cơ thể
        tiêu
        tan đi&nbsp; …<a href="#/">Xem thêm</a>
        </p>
        </div>
        </div>
        </div>

        </div>
        </div>



        <div id="col-1131557592" class="col medium-4 small-12 large-4">
        <div class="col-inner">


        <h4 style="text-align: center;"><a href="#">&nbsp; ĐAU KHỚP GỐI</a></h4>
        <p style="text-align: justify;"> </p>
        <div class="box has-hover   has-hover box-text-bottom">

        <div class="box-image">
        <a href="#">
        <div class="image-zoom">
        <img width="2001" height="2001" src="~/FE/assets/img/daukhopgoi.jpg"
        class="attachment- size- rounded-circle" alt="" loading="lazy"
        srcset="~/FE/assets/img/daukhopgoi.jpg 2001w"
        sizes="(max-width: 2001px) 100vw, 2001px">
        </div>
        </a>
        </div>

        <div class="box-text text-left">
        <div class="box-text-inner">

        <p style="text-align: justify;">
        Đau quanh khớp gối hoặc chỉ đau một vài điểm,&nbsp;
        cơn
        đau&nbsp; …<a href="#">
        Xem
        thêm
        </a>
        </p>
        </div>
        </div>
        </div>

        </div>
        </div>



        <div id="col-527111965" class="col medium-4 small-12 large-4">
        <div class="col-inner">


        <h4 style="text-align: center;"><a href="#">&nbsp;Đau mỏi vai gáy</a></h4>
        <p style="text-align: justify;"> </p>
        <div class="box has-hover   has-hover box-text-bottom">

        <div class="box-image">
        <a href="#">
        <div class="image-zoom">
        <img width="2001" height="2001" src="~/FE/assets/img/dauvaigay.webp"
        class="attachment- size- rounded-circle" alt="" loading="lazy"
        srcset=" ~/FE/assets/img/dauvaigay.webp 2001w"
        sizes="(max-width: 2001px) 100vw, 2001px">
        </div>
        </a>
        </div>

        <div class="box-text text-left">
        <div class="box-text-inner">

        <p style="text-align: justify;">
        Thận là một bộ phận quan trọng của con người, người
        mắc
        …<a href="#">Xem thêm</a>
        </p>
        </div>
        </div>
        </div>

        </div>
        </div>













        </div> *@
        <span class="cp-load-after-post"></span>


    </div>



</main>