<main id="main" class="">

    <div id="content" class="blog-wrapper blog-archive page-wrapper">


        <div class="row row-large row-divided ">

            <div class="large-9 col">
                <div id="post-list">


                    <!-- large-columns-2 medium-columns- small-columns-1 -->
                    <div class="row ">
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <!-- <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="TinTuc.html" class="plain"
                                                aria-label="thái Y Viện Viện tổ chức Sự kiện “Khai trương 3/1/2025 &amp; L”">
                                                <img width="718" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/02/476319734_620330757606267_5845083060230328019_n-718x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/02/476319734_620330757606267_5845083060230328019_n-718x400.jpg 718w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/02/476319734_620330757606267_5845083060230328019_n-1400x780.jpg 1400w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/02/476319734_620330757606267_5845083060230328019_n-768x428.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/02/476319734_620330757606267_5845083060230328019_n-600x334.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/02/476319734_620330757606267_5845083060230328019_n.jpg 1440w"
                                                    sizes="(max-width: 718px) 100vw, 718px"> </a>
                                        </div>
                                    </div> -->
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="TinTuc.html" style="font-size:25px" class="plain">
                                                    🌿 THÁI Y
                                                    VIỆN CHÍNH THỨC ĐÓN KHÁCH TỪ 01/03/2025! 🌿
                                                </a>
                                            </h5>
                                            <style>
                                                .font {
                                                    font-size: 25px;
                                                }
                                            </style>

                                            <p class="from_the_blog_excerpt ">

                                            <p>
                                                <b class="font">
                                                    💥 ƯU ĐÃI ĐẶC BIỆT – GIẢM NGAY 50% KHI ĐĂNG KÝ LIỆU
                                                    TRÌNH 10 BUỔI!
                                                </b>
                                            </p>

                                            <p class="font">🔵 Bạn bị đau lưng, đau vai gáy, tê bì tay chân?</p>
                                            <p class="font">🔵 Xương khớp nhức mỏi, khó cử động?</p>
                                            <p class="font">
                                                🔵 Muốn tìm giải pháp an toàn, hiệu quả theo phương pháp
                                                Hoàng Cung?
                                            </p>

                                            <p class="font">
                                                👉 Đừng bỏ lỡ cơ hội trải nghiệm Phương pháp trị liệu
                                                xương khớp Hoàng Gia do đội ngũ chuyên gia của Thái Y Viện thực
                                                hiện!
                                            </p>

                                            <p class="font"><b>📌 3 GÓI DỊCH VỤ CHO KHÁCH HÀNG:</b></p>
                                            <p class="font">
                                                ✅ Liệu trình cơ bản (60 phút) – 500K: Chiếu đèn tần phổ,
                                                bấm huyệt kết hợp dầu chuyên dụng của Thái Y Viện
                                            </p>
                                            <p class="font">
                                                ✅ Liệu trình chuyên sâu (120 phút) – 1 triệu: Chiếu đèn
                                                tần phổ + massage bấm huyệt kết hợp dầu chuyên dụng của Thái Y
                                                Viện - đắp Hoạt Lạc Cao của Thái Y Viện
                                            </p>
                                            <p class="font">
                                                ✅ Liệu trình cao cấp (120 phút) – 1,2 triệu: Chiếu đèn
                                                tần phổ+massage bấm huyệt kết hợp dầu chuyên dụng của Thái Y Viện
                                                - đắp Hoạt Lạc Cao loại cao cấp của Thái Y Viện
                                            </p>


                                            <p class="font"><b>🔥 ĐẶC BIỆT KHI ĐĂNG KÝ TRƯỚC NGÀY 01/03:</b></p>
                                            <p class="font">✔️ Trải nghiệm 15 PHÚT TRỊ LIỆU MIỄN PHÍ.</p>
                                            <p class="font">
                                                ✔️ Giảm 50% khi mua trọn gói 10 buổi:
                                            </p>
                                            <p class="font">
                                                🎯 2,5 triệu (Cơ bản) | 5 triệu (Chuyên sâu) | 6 triệu
                                                (Cao cấp).
                                            </p>
                                            </p>

                                            <p class="font">👉 SỐ LƯỢNG CÓ HẠN - ĐĂNG KÝ NGAY!
                                            <p class="font">
                                                📍 Địa chỉ: 182 Lê Thạch - P. Hòa An - Q. Cẩm Lệ - Đà
                                                Nẵng
                                            </p>
                                            <p class="font">📞 Hotline: 0905985168</p>
                                            💬 Inbox ngay để nhận ưu đãi!</p>

                                        </div>
                                    </div>
                                    <!-- <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">07</span><br>
                                            <span class="post-date-month is-xsmall">Th2</span>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/blog-galanhatlieuyvien2024/" class="plain"
                                                aria-label="Nhất Liệu Y Viện khép lại một Hành trình rực rỡ 2024 &amp; Mở ra kỷ nguyên mới">
                                                <img width="718" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n-718x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n-718x400.jpg 718w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n-1400x780.jpg 1400w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n-768x428.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n-1536x856.jpg 1536w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n-600x334.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n.jpg 2048w"
                                                    sizes="(max-width: 718px) 100vw, 718px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/blog-galanhatlieuyvien2024/"
                                                    class="plain">Nhất Liệu Y Viện khép lại một Hành trình rực rỡ 2024
                                                    &amp; Mở ra kỷ nguyên mới</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Với tầm nhìn kiến tạo, nâng tầm sức khỏe Việt, khép lại năm 2024 rực
                                                [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">23</span><br>
                                            <span class="post-date-month is-xsmall">Th1</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/blog-sukienngayhoitriankhachhang/"
                                                class="plain"
                                                aria-label="Chuỗi sự kiện “Ngày Hội Tri Ân Khách Hàng” tại Hệ thống Nhất Liệu Y Viện">
                                                <img width="533" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473364785_601774272795249_8839437514930067738_n-533x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473364785_601774272795249_8839437514930067738_n-533x400.jpg 533w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473364785_601774272795249_8839437514930067738_n-1067x800.jpg 1067w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473364785_601774272795249_8839437514930067738_n-768x576.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473364785_601774272795249_8839437514930067738_n-600x450.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473364785_601774272795249_8839437514930067738_n.jpg 1440w"
                                                    sizes="(max-width: 533px) 100vw, 533px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/blog-sukienngayhoitriankhachhang/"
                                                    class="plain">Chuỗi sự kiện “Ngày Hội Tri Ân Khách Hàng” tại Hệ
                                                    thống Nhất Liệu Y Viện</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Với mong muốn khẳng định sự đồng hành bền chặt và lan tỏa những giá
                                                [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">13</span><br>
                                            <span class="post-date-month is-xsmall">Th1</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/blog-letraochungchiquocte/" class="plain"
                                                aria-label="Nhất Liệu Y Viện: Lễ trao chứng chỉ Quốc tế “Chuyên gia Vật lý trị liệu &amp; Phục hồi chức năng cao cấp”">
                                                <img width="668" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473007765_598750759764267_5227257051511521415_n-668x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473007765_598750759764267_5227257051511521415_n-668x400.jpg 668w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473007765_598750759764267_5227257051511521415_n-1336x800.jpg 1336w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473007765_598750759764267_5227257051511521415_n-768x460.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473007765_598750759764267_5227257051511521415_n-600x359.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473007765_598750759764267_5227257051511521415_n.jpg 1440w"
                                                    sizes="(max-width: 668px) 100vw, 668px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/blog-letraochungchiquocte/"
                                                    class="plain">Nhất Liệu Y Viện: Lễ trao chứng chỉ Quốc tế “Chuyên
                                                    gia Vật lý trị liệu &amp; Phục hồi chức năng cao cấp”</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Ngày 08/01/2025, Tập đoàn Y tế Nhất Liệu Y Viện đã tổ chức thành công
                                                [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">09</span><br>
                                            <span class="post-date-month is-xsmall">Th1</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/dao-tao-nang-cao-chuyen-mon-quoc-te/"
                                                class="plain"
                                                aria-label="Đào Tạo Nâng Cao &amp; Cấp Chứng Chỉ Quốc Tế: Bước Đột Phá Trong Ngành Y Tế Việt Nam">
                                                <img width="741" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/z5979829571713_ed5e40c2df4a1c0aed553b6ccc8be150-741x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/z5979829571713_ed5e40c2df4a1c0aed553b6ccc8be150-741x400.jpg 741w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/z5979829571713_ed5e40c2df4a1c0aed553b6ccc8be150-1400x756.jpg 1400w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/z5979829571713_ed5e40c2df4a1c0aed553b6ccc8be150-768x415.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/z5979829571713_ed5e40c2df4a1c0aed553b6ccc8be150-1536x829.jpg 1536w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/z5979829571713_ed5e40c2df4a1c0aed553b6ccc8be150-2048x1106.jpg 2048w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/z5979829571713_ed5e40c2df4a1c0aed553b6ccc8be150-600x324.jpg 600w"
                                                    sizes="(max-width: 741px) 100vw, 741px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/dao-tao-nang-cao-chuyen-mon-quoc-te/"
                                                    class="plain">Đào Tạo Nâng Cao &amp; Cấp Chứng Chỉ Quốc Tế: Bước Đột
                                                    Phá Trong Ngành Y Tế Việt Nam</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Với sứ mệnh không ngừng nâng cao chất lượng dịch vụ và phát triển nguồn
                                                [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">30</span><br>
                                            <span class="post-date-month is-xsmall">Th10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/mo-hinh-cham-soc-suc-khoe-nhat-lieu-y-vien/"
                                                class="plain"
                                                aria-label="Hệ thống&nbsp; chuyển nhượng Mô hình Chăm sóc sức khỏe tại Nhất Liệu Y Viện">
                                                <img width="796" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/462618418_122121099830477262_8469464830146925781_n-796x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/462618418_122121099830477262_8469464830146925781_n-796x400.jpg 796w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/462618418_122121099830477262_8469464830146925781_n-1400x704.jpg 1400w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/462618418_122121099830477262_8469464830146925781_n-768x386.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/462618418_122121099830477262_8469464830146925781_n-600x302.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/462618418_122121099830477262_8469464830146925781_n.jpg 1440w"
                                                    sizes="(max-width: 796px) 100vw, 796px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/mo-hinh-cham-soc-suc-khoe-nhat-lieu-y-vien/"
                                                    class="plain">Hệ thống&nbsp; chuyển nhượng Mô hình Chăm sóc sức khỏe
                                                    tại Nhất Liệu Y Viện</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Khác biệt hoàn toàn với các hình thức đầu tư truyền thống, chuyển nhượng
                                                Mô [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">16</span><br>
                                            <span class="post-date-month is-xsmall">Th10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/khoa-dao-tao-trinh-k37/" class="plain"
                                                aria-label="Nhất Liệu Y Viện: Lễ Tốt Nghiệp Khóa Đào Tạo Chuyển Giao Quy Trình K37 &amp; Cấp Chứng Chỉ Hành Nghề&nbsp;">
                                                <img width="533" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/461868513_525972900375387_655868158604307450_n-533x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/461868513_525972900375387_655868158604307450_n-533x400.jpg 533w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/461868513_525972900375387_655868158604307450_n-1067x800.jpg 1067w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/461868513_525972900375387_655868158604307450_n-768x576.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/461868513_525972900375387_655868158604307450_n-600x450.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/10/461868513_525972900375387_655868158604307450_n.jpg 1440w"
                                                    sizes="(max-width: 533px) 100vw, 533px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/khoa-dao-tao-trinh-k37/"
                                                    class="plain">Nhất Liệu Y Viện: Lễ Tốt Nghiệp Khóa Đào Tạo Chuyển
                                                    Giao Quy Trình K37 &amp; Cấp Chứng Chỉ Hành Nghề&nbsp;</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Nhất Liệu Y Viện tự hào là một trong những đơn vị tiên phong trong [...]
                                            </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">03</span><br>
                                            <span class="post-date-month is-xsmall">Th10</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/nhat-lieu-y-vien-ho-tro-dong-bao-mien-bac/"
                                                class="plain"
                                                aria-label="Nhất Liệu Y Viện cùng Báo Môi Trường Giao Thông chung tay giúp đỡ đồng bào miền Bắc">
                                                <img width="619" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/460837158_517909831181694_7143769013441049714_n-619x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/460837158_517909831181694_7143769013441049714_n-619x400.jpg 619w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/460837158_517909831181694_7143769013441049714_n-1239x800.jpg 1239w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/460837158_517909831181694_7143769013441049714_n-768x496.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/460837158_517909831181694_7143769013441049714_n-600x388.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/460837158_517909831181694_7143769013441049714_n.jpg 1440w"
                                                    sizes="(max-width: 619px) 100vw, 619px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/nhat-lieu-y-vien-ho-tro-dong-bao-mien-bac/"
                                                    class="plain">Nhất Liệu Y Viện cùng Báo Môi Trường Giao Thông chung
                                                    tay giúp đỡ đồng bào miền Bắc</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Trong những ngày tháng 9 đầy biến động, miền Bắc nước ta đã phải đối
                                                [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">24</span><br>
                                            <span class="post-date-month is-xsmall">Th9</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/quyen-loi-doi-tac-nhat-lieu-y-vien/"
                                                class="plain"
                                                aria-label="Quyền lợi khi trở thành đối tác của Nhất Liệu Y Viện">
                                                <img width="800" height="394"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/02932b50-83f4-4f63-b7dc-e7390e46211d-800x394.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/02932b50-83f4-4f63-b7dc-e7390e46211d-800x394.jpg 800w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/02932b50-83f4-4f63-b7dc-e7390e46211d-1400x689.jpg 1400w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/02932b50-83f4-4f63-b7dc-e7390e46211d-768x378.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/02932b50-83f4-4f63-b7dc-e7390e46211d-1536x756.jpg 1536w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/02932b50-83f4-4f63-b7dc-e7390e46211d-600x295.jpg 600w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/09/02932b50-83f4-4f63-b7dc-e7390e46211d.jpg 1665w"
                                                    sizes="(max-width: 800px) 100vw, 800px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/quyen-loi-doi-tac-nhat-lieu-y-vien/"
                                                    class="plain">Quyền lợi khi trở thành đối tác của Nhất Liệu Y
                                                    Viện</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Đối tác sẽ được chuyển giao toàn bộ quy trình vận hành, bộ sản phẩm
                                                [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">24</span><br>
                                            <span class="post-date-month is-xsmall">Th9</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col post-item">
                            <div class="col-inner">
                                <div class="box box-text-bottom box-blog-post has-hover">
                                    <div class="box-image">
                                        <div class="image-cover" style="padding-top:56%;">
                                            <a href="https://nhatlieuyvien.vn/tuong-thuong-du-lich-tay-tang/"
                                                class="plain"
                                                aria-label="Tưởng Thưởng Du Lịch Thượng Hạng Tây Tạng – Hành Trình Của Những Người Theo Đuổi Giấc Mơ">
                                                <img width="533" height="400"
                                                    src="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/08/225cd9cc-0d18-4170-9c29-586281bc0da7-533x400.jpg"
                                                    class="attachment-medium size-medium wp-post-image" alt=""
                                                    loading="lazy"
                                                    srcset="https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/08/225cd9cc-0d18-4170-9c29-586281bc0da7-533x400.jpg 533w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/08/225cd9cc-0d18-4170-9c29-586281bc0da7-1067x800.jpg 1067w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/08/225cd9cc-0d18-4170-9c29-586281bc0da7-768x576.jpg 768w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/08/225cd9cc-0d18-4170-9c29-586281bc0da7-1536x1152.jpg 1536w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/08/225cd9cc-0d18-4170-9c29-586281bc0da7-2048x1536.jpg 2048w, https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2024/08/225cd9cc-0d18-4170-9c29-586281bc0da7-600x450.jpg 600w"
                                                    sizes="(max-width: 533px) 100vw, 533px"> </a>
                                        </div>
                                    </div>
                                    <div class="box-text text-left">
                                        <div class="box-text-inner blog-post-inner">


                                            <h5 class="post-title is-large ">
                                                <a href="https://nhatlieuyvien.vn/tuong-thuong-du-lich-tay-tang/"
                                                    class="plain">Tưởng Thưởng Du Lịch Thượng Hạng Tây Tạng – Hành Trình
                                                    Của Những Người Theo Đuổi Giấc Mơ</a>
                                            </h5>
                                            <div class="is-divider"></div>
                                            <p class="from_the_blog_excerpt ">
                                                Chương trình “Tưởng Thưởng Du Lịch Thượng Hạng – Tây Tạng” là món quà
                                                đặc [...] </p>



                                        </div>
                                    </div>
                                    <div class="badge absolute top post-date badge-square">
                                        <div class="badge-inner">
                                            <span class="post-date-day">27</span><br>
                                            <span class="post-date-month is-xsmall">Th8</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- <ul class="page-numbers nav-pagination links text-center">
                        <li><span aria-current="page" class="page-number current">1</span></li>
                        <li><a class="page-number" href="https://nhatlieuyvien.vn/category/tin-tuc/page/2/">2</a></li>
                        <li><a class="page-number" href="https://nhatlieuyvien.vn/category/tin-tuc/page/3/">3</a></li>
                        <li><a class="page-number" href="https://nhatlieuyvien.vn/category/tin-tuc/page/4/">4</a></li>
                        <li><span class="page-number dots">…</span></li>
                        <li><a class="page-number" href="https://nhatlieuyvien.vn/category/tin-tuc/page/11/">11</a></li>
                        <li><a class="next page-number" href="https://nhatlieuyvien.vn/category/tin-tuc/page/2/"><i
                                    class="icon-angle-right"></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="post-sidebar large-3 col">
                <div class="is-sticky-column" data-sticky-mode="javascript" style="transform: translateY(0px);">
                    <div class="is-sticky-column__inner">
                        <div id="secondary" class="widget-area " role="complementary">
                            <aside id="flatsome_recent_posts-17" class="widget flatsome_recent_posts">
                                <span class="widget-title "><span>Bài viết mới</span></span>
                                <div class="is-divider small"></div>
                                <ul>

                                    <li class="recent-blog-posts-li">
                                        <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                            <div class="flex-col mr-half">
                                                <div class="badge post-date  badge-square">
                                                    <div class="badge-inner bg-fill"
                                                         style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/02/476319734_620330757606267_5845083060230328019_n-280x280.jpg); color:#fff; text-shadow:1px 1px 0px rgba(0,0,0,.5); border:0;">
                                                        <span class="post-date-day">14</span><br>
                                                        <span class="post-date-month is-xsmall">Th2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-col flex-grow">
                                                <a href="DetailNews.html"
                                                   title="Chế Độ Ăn Uống - Yếu Tố Cốt Lõi Bảo Vệ Sức Khỏe Hoàng Đế”">Chế Độ Ăn Uống - Yếu Tố Cốt Lõi Bảo Vệ Sức Khỏe Hoàng Đế</a>
                                                <span class="post_comments op-7 block is-xsmall">
                                                    <a href="DetailNews.html"></a>Ngự Y Viện không chỉ đóng vai trò chữa bệnh mà còn đảm bảo
                                                </span>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="recent-blog-posts-li">
                                        <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                            <div class="flex-col mr-half">
                                                <div class="badge post-date  badge-square">
                                                    <div class="badge-inner bg-fill"
                                                         style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/474161215_608376002135076_545817522860873077_n-280x280.jpg); color:#fff; text-shadow:1px 1px 0px rgba(0,0,0,.5); border:0;">
                                                        <span class="post-date-day">14</span><br>
                                                        <span class="post-date-month is-xsmall">Th2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-col flex-grow">
                                                <a href="https://nhatlieuyvien.vn/blog-galanhatlieuyvien2024/"
                                                   title="Vai Trò Của Ngự Y Viện Trong Việc Giám Sát Bữa Ăn Hoàng Cung">Vai Trò Của Ngự Y Viện Trong Việc Giám Sát Bữa Ăn Hoàng Cung</a>
                                                <span class="post_comments op-7 block is-xsmall"><span>Ngự Y Viện không chỉ đóng vai trò chữa bệnh mà còn đảm bảo<span class="screen-reader-text"> Ngự Y Viện không chỉ đóng vai trò chữa bệnh mà còn đảm bảo</span></span></span>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="recent-blog-posts-li">
                                        <div class="flex-row recent-blog-posts align-top pt-half pb-half">
                                            <div class="flex-col mr-half">
                                                <div class="badge post-date  badge-square">
                                                    <div class="badge-inner bg-fill"
                                                         style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url(https://nhatlieuyvien.b-cdn.net/wp-content/uploads/2025/01/473364785_601774272795249_8839437514930067738_n-280x280.jpg); color:#fff; text-shadow:1px 1px 0px rgba(0,0,0,.5); border:0;">
                                                        <span class="post-date-day">14</span><br>
                                                        <span class="post-date-month is-xsmall">Th2</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="flex-col flex-grow">
                                                <a href="DetailNews.html"
                                                   title="Những Trường Hợp Điển Hình Về Chế Độ Ăn Ảnh Hưởng Đến Sự Hưng Vong Của Triều Đại">Những Trường Hợp Điển Hình Về Chế Độ Ăn Ảnh Hưởng Đến Sự Hưng Vong Của Triều Đại</a>
                                                <span class="post_comments op-7 block is-xsmall">
                                                    <span>
                                                        Lịch sử ghi nhận nhiều vị hoàng đế vì ăn uống không khoa học<span class="screen-reader-text">
                                                            ở Chuỗi sự kiện
                                                            Lịch sử ghi nhận nhiều vị hoàng đế vì ăn uống không khoa học
                                                        </span>
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </aside>
                            <aside id="maxmegamenu-2" class="widget widget_maxmegamenu">
                                <span class="widget-title "><span>Chuyên mục</span></span>
                                <div class="is-divider small"></div>
                                <div id="mega-menu-wrap-max_mega_menu_1" class="mega-menu-wrap">
                                    <div class="mega-menu-toggle">
                                        <div class="mega-toggle-blocks-left"></div>
                                        <div class="mega-toggle-blocks-center"></div>
                                        <div class="mega-toggle-blocks-right">
                                            <div class="mega-toggle-block mega-menu-toggle-animated-block mega-toggle-block-0"
                                                 id="mega-toggle-block-0">
                                                <button aria-label="Toggle Menu"
                                                        class="mega-toggle-animated mega-toggle-animated-slider"
                                                        type="button" aria-expanded="false">
                                                    <span class="mega-toggle-animated-box">
                                                        <span class="mega-toggle-animated-inner"></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul id="mega-menu-max_mega_menu_1"
                                        class="mega-menu max-mega-menu mega-menu-accordion" data-event="hover_intent"
                                        data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled"
                                        data-effect-speed-mobile="0" data-mobile-force-width="false"
                                        data-second-click="go" data-document-click="disabled"
                                        data-vertical-behaviour="accordion" data-breakpoint="768" data-unbind="true"
                                        data-mobile-state="expand_all" data-hover-intent-timeout="300"
                                        data-hover-intent-interval="100">
                                        <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-category mega-current-menu-item mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-1649 mega-toggle-on"
                                            id="mega-menu-item-1649">
                                            <a class="mega-menu-link"
                                               href="TinTuc.html" aria-haspopup="true"
                                               aria-expanded="true" tabindex="0">
                                                TIN TỨC<span class="mega-indicator"
                                                             data-has-click-event="true"></span>
                                            </a>
                                            <ul class="mega-sub-menu">
                                                <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-category mega-menu-item-1650"
                                                    id="mega-menu-item-1650">
                                                    <a class="mega-menu-link"
                                                       href="TinTuc.html">
                                                        Báo
                                                        Chí Đăng Tin
                                                    </a>
                                                </li>

                                                <li class="mega-menu-item mega-menu-item-type-taxonomy mega-menu-item-object-category mega-menu-item-1652"
                                                    id="mega-menu-item-1652">
                                                    <a class="mega-menu-link"
                                                       href="TinTuc.html">
                                                        Sự
                                                        Kiện
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</main>